.DS_Store

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.db

# Populate sample images
src/fastapi_fullstack_webapp/populate_images/